@model IEnumerable<Shelter.Models.Entities.Dog>
@using Shelter.Models.Enums
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container my-grid">
        @foreach (var dog in Model)
        {
        <div class="my-card card" style="width: 18rem;">
            @if (dog.IsOwned)
            {
                <img class="card-img-top" src="~/svg/mutlu-kopek.svg" alt="Köpek">
            }
            else
            {
                <img class="card-img-top" src="~/svg/uzgun-kopek.svg" alt="Köpek">
            }
        <div class="card-body">
            @if (dog.IsOwned)
            {
                <h1>@dog.Name (@ViewData["Message"])</h1>
            }
            else
            {
                <h1>@dog.Name</h1>
            }
            @if (dog.Gender == GenderEnum.MALE)
            {
                <p>Cinsiyet: Erkek</p>
            }
            else
            {
                <p>Cinsiyet: Dişi</p>
            }
            <p>Doğum Tarihi: @dog.Birthday.ToString("dd/MM/yyyy")</p>
            <p>@dog.ShelterName</p>
        </div>
            <div class="card-footer">
                @Html.ActionLink("Detay", "DogDetail", "Home", new { dogId = dog.Id })
            </div>
        </div>
        }
    </div>
</div>

<style>
.my-grid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3,1fr);
}

@@media screen and (max-width: 992px) {
    .my-grid {
        grid-template-columns: repeat(2,1fr);
    }
}

@@media screen and (max-width: 576px) {
    .my-grid {
        grid-template-columns: repeat(1,1fr);
    }

    .my-grid .card {
        margin-left: auto;
        margin-right: auto;
    }
}
</style>

